name: Swift CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift Version
        run: swift --version

      - name: Build
        run: swift build

      - name: Full Test Suite
        run: swift test

      - name: CLI Test Suite
        run: swift test --filter TTMCliTests

      - name: API Test Suite
        run: swift test --filter TTMApiTests
